<div class="content-section-a">

	<div class="container">

		<div class="row">
			<div class="col-lg-5 col-lg-offset-1 col-sm-push-3 col-sm-6">
				<hr class="section-heading-spacer">
				<div class="clearfix"></div>
				<p id="notice"><%= notice %></p>

				<p class="lead">
					<strong>Imię:</strong>
					<%= @author.first_name %>
				</p>

				<p class="lead">
					<strong>Nazwisko:</strong>
					<%= @author.last_name %>
				</p>
				<p class="lead">
					<strong>Książki: </strong>

					<% @author.books.each do |book| %>

					<%= link_to book.title, book %>

					<% end %></p>





				</div><br><br>
				 <div class="col-lg-2 col-sm-pull-5  col-sm-4">

					<%= image_tag @author.avatar.url %><br>

				</div>
			</div>

		</div>





	</div>